aenum
apipkg
attrs==21.2.0
autopep8
axe-selenium-python
certifi
chardet
click
colorama
configparser 
crayons 
dill 
execnet
Faker 
flake8
idna 
iniconfig==1.1.1
mccabe 
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle 
pydantic 
pyfiglet 
pyflakes 
pyleniumio 
pyparsing==2.4.7
pytest==6.2.4
pytest-forked
pytest-parallel 
pytest-reportportal 
pytest-xdist
python-dateutil
reportportal-client
requests
selenium
six
tblib
text-unidecode
toml
typing-extensions
urllib3
webdriver-manager